<div class="container">
  <div class="plans row">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Plans</h1>
      <p class="lead">
        Simple, flat plans. No hidden costs.</p>
      <p style="margin-top:-18px;">All plans contain unlimited access to verified students inquiries.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <i class="fas fa-rupee-sign"></i>1799 <small class="text-muted">/ yr</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Unlimited students inquiries</li>
              <li>Students can contact</li>
              <li>Landing page</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Standard</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <i class="fas fa-rupee-sign"></i>1299 <small class="text-muted">/ 6 mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Unlimited students inquiries</li>
              <li>Students can contact</li>
              <li>No landing page</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Essentials</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              <i class="fas fa-rupee-sign"></i>699 <small class="text-muted">/ 3 mo</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Unlimited students inquiries</li>
              <li>Students can not contact</li>
              <li>No landing page</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
      </div>
  </div>
</div>
