@import "../../../assets/sass/to-import.scss";
@import "../../../assets/sass/theme.scss";

.navbar {
  background: $grey-bg;
  border-bottom: 1px solid #ccc;
  //background: #fff;

  a.navbar-brand {
    color: $link-color;
    font-weight: bold;
    letter-spacing: 3px;

    span {
      margin-right: 4px;
    }
  }
}

.nav-item {
  margin: 0 5px;
}

.nav-item a {
  color: #333;
  font-weight: 100;
}

.navbar-toggle {
  background: $link-color;
}

.navbar-brand img {
  width: 35px;
}
